body {
    font-family: 'Noto Sans TC', 'Shrikhand', sans-serif;
    line-height: 1.5;
}

a {
    display: block;
}

img {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}