<footer class="p-7 py-lg-8 px-lg-0 bg-light">
    <div class="container">
        <ul class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <li>
                <a class="shrikhand fs-3 text-black mb-2 mb-lg-0" href="index.html">ALPHABOX+</a>
                <p class="ls-16 d-none d-lg-block mb-0">Copyright © 2023 Hexschool.</p>
            </li>
            <li class="mb-2 mb-lg-0">
                <img src="../assets/images/emergency.png" alt="黑米字號" class="emergency-black">
            </li>
            <li class="d-lg-flex">
                <a href="#" class="text-black fw-bold fw-lg-light mb-2 mb-lg-0 me-lg-4">關於我們</a>
                <a href="#" class="text-black fw-bold fw-lg-light mb-2 mb-lg-0 me-lg-4">產品資訊</a>
                <a href="faq.html" class="text-black fw-bold fw-lg-light mb-2 mb-lg-0 me-lg-4">常見問題</a>
                <a href="#" class="text-black fw-bold fw-lg-light mb-2 mb-lg-0">隱私政策</a>
                <p class="ls-16 d-lg-none fw-bold mb-0">Copyright © 2023 Hexschool.</p>
            </li>
        </ul>
    </div>
</footer>