.contact {
    background: radial-gradient(50% 50% at center, #28085C, #000000);

    &-content {
        padding: 60px 0 80px 0;

        @include pc {
            padding: 160px 0;
        }
    }

    &-form {
        margin-bottom: 60px;

        @include pc {
            margin-bottom: 0;
        }
    }

    &-link {
        color: $white;

        &:hover,
        &:active {
            color: $warning;
        }
    }
}

.link-wrapper {
    @include pc {
        margin-right: 73px;
    }
}

.role-info {
    padding: 60px 0 40px 0;

    @include pc {
        padding: 160px 0 120px 0;
    }
}

.name {
    top: 50%;
    transform: translateY(-50%);

    &.left {
        left: 12px;

        @include pad{
            left: 10%;
        }
    }

    &.right {
        right: 12px;

        @include pad{
            right: 10%;
        }
    }
}

.role-pc-left {
    background-repeat: no-repeat;
    background-size: 72% 100%;
    height: 232px;

    &.Diane{
        background-image: url('../images/diane_horizontal.png');
    }

    &.Karina{
        background-image: url('../images/karina_horizontal.png');
    }
}

.role-pc-right {
    background-repeat: no-repeat;
    background-size: 72% 100%;
    background-position: 100%;
    height: 232px;

    &.Felix{
        background-image: url('../images/felix_horizontal.png');
    }

    &.Vito{
        background-image: url('../images/vito_horizontal.png');
    }
}