.faq {
    padding-bottom: 80px;

    @include pc {
        padding-bottom: 120px;
    }

    &-title {
        padding: 60px 0 40px 0;
    }
}

.addIcon,
.removeIcon {
    font-size: 40px;
}

.accordion-button {
    &.collapsed {
        .addIcon {
            display: block;
        }

        .removeIcon {
            display: none;
        }
    }

    &:not(.collapsed) {
        .addIcon {
            display: none;
        }

        .removeIcon {
            display: block;
        }
    }
}