<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | 聯絡我們</title>
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet">
</head>

<body>

    <%- include('./layout/header') %>

        <div class="contact">
            <div class="container">
                <div class="contact-content">
                    <h2 class="fs-40 fs-lg-64 text-white fw-bolder lh-base ls-40 ls-md-64 mb-7 mb-lg-3">聯絡我們</h2>
                    <div class="row justify-content-around">
                        <div class="col-lg-6">
                            <div class="contact-form">
                                <p class="text-white mb-6 mb-lg-9">
                                    您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24
                                    小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。
                                </p>
                                <p class="text-white fw-bold mb-6 mb-lg-9">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
                                <div class="form-floating mb-2 mb-lg-3">
                                    <input type="text" class="form-control rounded-0" id="floatingName"
                                        placeholder="姓名">
                                    <label for="floatingName" class="d-flex align-items-center"><span
                                            class="fs-6 text-fourth">姓名</span></label>
                                </div>
                                <div class="form-floating mb-2 mb-lg-3">
                                    <input type="email" class="form-control rounded-0" id="floatingPassword"
                                        placeholder="Email">
                                    <label for="floatingPassword" class="d-flex align-items-center"><span
                                            class="fs-6 text-fourth">Email</span></label>
                                </div>
                                <div class="form-floating mb-2 mb-lg-3">
                                    <input type="tel" class="form-control rounded-0" id="floatingTel"
                                        placeholder="連絡電話">
                                    <label for="floatingTel" class="d-flex align-items-center"><span
                                            class="fs-6 text-fourth">連絡電話</span></label>
                                </div>
                                <div class="form-floating mb-2 mb-lg-3">
                                    <input type="textarea" class="form-control rounded-0" id="floatingComment"
                                        placeholder="COMMENTS" style="height: 120px">
                                    <label for="floatingComment"><span class="fs-6 text-fourth">COMMENTS</span></label>
                                </div>
                                <button
                                    class="btn btn-secondary border-0 w-100 d-flex align-items-center justify-content-center py-2 px-3"><img
                                        src="../assets/images/point_scan_white.png" alt="point_scan"
                                        class="me-1">送出</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <h3 class="fs-8 text-white text-opacity-50 lh-base">客服時間</h3>
                            <p class="text-white mb-7">週一至週五 09:00-18:00</p>
                            <h3 class="fs-8 text-white text-opacity-50 lh-base">聯絡地址</h3>
                            <a class="contact-link mb-7" href="#">高雄市新興區民生一路 56 號</a>
                            <h3 class="fs-8 text-white text-opacity-50 lh-base">聯絡地址</h3>
                            <a class="contact-link" href="#">+886-2-12345678</a>
                            <p class="text-white mb-0">mailto:<a href="#"
                                    class="d-inline contact-link">customer@alphabox.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-white py-7 pb-lg-8">
                <div class="container">
                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end">
                        <li class="mb-3 mb-lg-0 link-wrapper"><a href="#" class="contact-link">INSTAGRAM</a></li>
                        <li class="mb-3 mb-lg-0 link-wrapper"><a href="#" class="contact-link">FACEBOOK</a></li>
                        <li class="mb-3 mb-lg-0 link-wrapper"><a href="#" class="contact-link">TWITTER</a></li>
                        <li><a href="#" class="contact-link">LINKEDIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="role-info bg-white">
                <div class="container mb-4 mb-lg-7">
                    <h2 class="fs-40 fs-lg-64 ls-40 ls-lg-64 fw-bolder lh-base mb-3 mb-lg-4">選擇自己<span class="d-lg-block d-xl-inline">要的角色</span></h2>
                    <h2 class="fs-5 fs-lg-1 lh-base"><span class="text-secondary fw-bold me-4">20K+</span><span
                            class="fw-bolder">使用者喜歡我們的服務</span></h2>
                </div>
                <div class="d-block d-lg-none position-relative">
                    <img src="../assets/images/diane_choose.png" alt="diane" class="img-fluid w-100">
                    <h3 class="shrikhand fs-40 lh-base text-white position-absolute name left mb-0">Diane</h3>
                </div>
                <div class="d-none d-lg-block position-relative role-pc-left Diane">
                    <div class="container">
                        <h3 class="shrikhand fs-64 text-white lh-base mb-0">Diane</h3>
                    </div>
                </div>
                <div class="d-block d-lg-none position-relative">
                    <img src="../assets/images/felix_choose.png" alt="Felix" class="img-fluid w-100">
                    <h3 class="shrikhand fs-40 lh-base text-white position-absolute name right mb-0">Felix</h3>
                </div>
                <div class="d-none d-lg-block position-relative role-pc-right Felix">
                    <div class="container">
                        <h3 class="shrikhand fs-64 text-white text-end lh-base mb-0">Felix</h3>
                    </div>
                </div>
                <div class="d-block d-lg-none position-relative">
                    <img src="../assets/images/Karina_choose.png" alt="Karina" class="img-fluid w-100">
                    <h3 class="shrikhand fs-40 lh-base text-white position-absolute name left mb-0">Karina</h3>
                </div>
                <div class="d-none d-lg-block position-relative role-pc-left Karina">
                    <div class="container">
                        <h3 class="shrikhand fs-64 text-white lh-base mb-0">Karina</h3>
                    </div>
                </div>
                <div class="d-block d-lg-none position-relative">
                    <img src="../assets/images/Vito_choose.png" alt="Vito" class="img-fluid w-100">
                    <h3 class="shrikhand fs-40 lh-base text-white position-absolute name right mb-0">Vito</h3>
                </div>
                <div class="d-none d-lg-block position-relative role-pc-right Vito">
                    <div class="container">
                        <h3 class="shrikhand fs-64 text-white text-end lh-base mb-0">Vito</h3>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./layout/footer') %>

            <script type="module" src="../main.js"></script>
</body>

</html>