<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | FAQ</title>
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet">
</head>

<body>

    <%- include('./layout/header') %>

        <div class="bg-light-secondary">
            <div class="container faq text-fourth ">
                <h1 class="faq-title fs-1 fw-bolder ls-48 lh-base py-lg-9 mb-0 border-dotted">FAQ</h1>
                <main class="row mt-4 mt-lg-7">
                    <div class="col-lg-4">
                        <div class="pb-4 pb-lg-0">
                            <a href="#" class="link-fourth mb-3">ALPHABOX+ 使用問題</a>
                            <a href="#" class="link-fourth mb-3">訂購與運送</a>
                            <a href="#" class="link-fourth">產品保養與維修</a>
                        </div>
                        <div class="border-dotted d-lg-none"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="accordion" id="accordionPanelsStayOpen">
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block px-0 pt-6 pb-4 pt-lg-0 pb-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#StayOpen-collapseOne"
                                    aria-expanded="true" aria-controls="StayOpen-collapseOne">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            ALPHABOX+ 的使用方式是什麼？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="StayOpen-collapseOne" class="accordion-collapse collapse show">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block collapsed px-0 py-6 py-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            ALPHABOX+ 需要什麼樣的環境來使用？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                啊。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block collapsed px-0 py-6 py-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            ALPHABOX+ 支援哪些語言？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                啊啊。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block collapsed px-0 py-6 py-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            ALPHABOX+ 的軟體更新方式為何？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="accordion-collapse collapse">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                啊啊啊。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block collapsed px-0 py-6 py-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            購買 ALPHABOX+ 後的售後服務如何？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapseFive" class="accordion-collapse collapse">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                啊啊啊啊。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="accordion-item border-dotted">
                                <button class="accordion-button d-block collapsed px-0 py-6 py-lg-7" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                    <div class="accordion-header row align-items-center fs-8">
                                        <div class="col-10 col-md-9">
                                            ALPHABOX+ 與其他智能家居設備的相容性如何？
                                        </div>
                                        <div class="col-2 col-md-3">
                                            <span class="material-icons-outlined addIcon">
                                                add
                                            </span>
                                            <span class="material-icons-outlined removeIcon">
                                                remove
                                            </span>
                                        </div>
                                    </div>
                                    <div id="collapseSix" class="accordion-collapse collapse">
                                        <div class="accordion-body row p-0">
                                            <div class="col-md-9">
                                                啊啊啊啊啊。
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('./layout/footer') %>

            <script type="module" src="../main.js"></script>
</body>

</html>